.card-list-page {

	ion-item.item-input {
		// width: 70%;
		float: left;
	}

	button {
		float: right;
	}

	h4 {
		clear: both;
		width: 70%;
		float: right;
	}

	.thumb {
		width: 70px;
		margin-top: 20px;
		margin-left: 10px;
	}

}
