.card-list-page {

	ion-item.item-input {
		width: 70%;
		float: left;
	}

	button {
		float: right;
	}

	ion-list > ion-item:first-child {
		border-top: none;
	}

	ion-label {
		white-space: normal;
	}

	h3 {
		float: right;
		padding-top: 40px;
		width: 60%;
		font-size: 16px;
		color: darken(grey, 18%);
	}

	ion-icon {
		float: right;
		padding-top: 20px;
		font-size: 28px;
		color: gold;
	}

	.thumb {
		width: 65px;
		margin-top: 20px;
		margin-left: 10px;
	}

}
